body {
  display: inline-flex;
  flex-wrap: wrap;  
}

.card-body {
    margin-bottom: 20px;
}

.card {
    width: 25rem;
    background-color: #212529;
    border: 1px solid #212529;
    border-radius: 10px;
    overflow: hidden;
    height: 60rem;
}

.card-img-top {
    width: 100%;
}

h5,
p {
    padding-left: 14px;
    margin: auto;
    padding-top: 10px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

h5 {
    font-size: 1.2rem;
}

p {
    padding-left: 14px;
    margin-bottom: 20px;
    padding-top: 10px;
}

.btn-primary {
    border: 1px solid #0d6efd;
    background-color: #0d6efd;
    margin: 0px 0 0px 12px;
    text-decoration: none;
    color: white;
    padding: 10px 35px 10px 35px;
    border-radius: 6px;
}